/* CSS declarations go here */
body {
	-webkit-transform: scale(0.33);
}

.page {
	margin: 0;
	padding: 0;
	height: 500px;
	display: block;
	color: white;
}
.cover {
	height: 100px;
	width: 100px;
	background-color: blue;
}

#drop {
  min-height: 100px;
  width: 200px;
  border: 3px dashed #ccc;
  margin: 10px;
  padding: 10px;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; 	background: #f0fF02;}
